.flexBox{
    position: fixed;
    padding: 0%;
    background-color: white;
}
.flex1{
    background-color:rgb(161, 160, 160);
    padding: .5rem;
}
.support_flex{
    margin-left: 15rem;
    margin-right: 2rem;
}
.firstNavbar{
    width: 100%;
    display: flex;
    text-align: center;
    margin-left: 5rem;

}
.support{
}
.secondNavbar{
    background-color: white;
    padding: 1rem;
    display: flex;
}
.secondNavbar_text{
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-top: 4px;
    list-style: none;
    margin-left:25rem ;
}
.links {
    text-decoration: none;
    color: black;
    width: 2px;
}
.secondPart{
    display: flex;
}
.navbarImag{
    margin-top: -15px;
    height: 55px;
    width: 70px;
}
.login_flex{
    gap: 4%;
}
.signin{
    margin-left: 35rem;
    margin-right: 2rem;

}
.signout{
    margin-right: 7rem;
}
.btn{
    padding:.5rem ;

}

/* 
.flex{
    display: flex;
    list-style: none;
    margin-right: 300px;
}
.flexHead1{
    margin-left: 500px;
}
.flexHead2{
    margin-left: 40px;
}

.signIn{
    margin-left: 90px;
}
.signUp{
    margin-left: 30px;
}
.ExclamSign{
height:20%;
margin-left: 20px;

}
.navbarOne_flex{
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
    display: flex;
    background-color: rgb(163, 161, 161);
}
.atb_flex{
    text-align: left;

}

.navbar_menu{
    display: flex;
}
.menuFlex{
display: flex;
list-style: none;
margin-left: 520px;

}
.navbarTwo{
    background-color: white;
}
.on
{
    text-align: center;
}
.listItem{
    margin-right: 50px;

}
.btn_flex_btnOne{
    margin-left:60px ;
}
.flightIcon{
    height: 40px;
    width: 40px;
    margin: 10px;
}  */
