.section_container_section{
    width: 100%;
    padding: 1.5rem;
    border: 2px solid gray;
    border-radius: 16px;
    row-gap: 2rem;
}
 .btns_flex{
        background: rgb(235, 230, 230);
        padding: .5rem;
        display: flex;
        border-radius: 1rem;
        flex-direction: column;
        margin: auto;
        width: 100%;
}
.section_class{
    display: flex;
}
    .single_btn{
        padding: .8rem 1.5rem;
        flex-direction: column;
        font-size: 13px;
        border-radius: 3 rem;
        width: 80%;
        text-align: center;
        &::hover{
            background-color: var(--primaryColor);
            color: var(--whiteColor);
            font-weight:500 ;
            transition: .4s,ease;
        }
    }
    .searchInputs_flex{
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
.singleInputs_flex{
    .icon_div{
        padding: 16px 10px;
        border-radius: 3rem;
        margin-right: 1rem;
    }
    .icon{
        color: rgb(75, 69, 69);
        opacity: .7;
    }
    .text{
        h4{
            padding-top: 0;
            padding-bottom: .7rem;
            color: blanchedalmond;
            font-weight: 700;
        }
        }
       

}
input{
    width: 95%;
    border: none;
    outline: none;
    background: transparent;
    &::{
        font-size: 15pc;
        opacity: .5;
        
    }
}
.searchInputs_flex{
    display: flex;
}
.singleInputs_flex{
    display: flex;
}